################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodingProblem1/bin/Debug
/CodingProblem1/obj/Debug
*.suo
/CodingProblemsTests/bin/Debug
/CodingProblemsTests/obj/Debug
/packages
/.vs
/CodingProblems/bin/Debug
/CodingProblems/obj
